body {
  background-color: #272b34
}
#Coffee_Holder {
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30vh;
  margin-left: 20vw;
  margin-right: 20vw;
  height: 60vh;
}
#Latte {
  background-color: #E8E4AC;
  margin: 0;
  height: 20vh;
  width: 60vw;

}
#Frap {
  background-color:  #F2D367;
  margin: 0;
  height: 20vh;
  width: 60vw;
}
#Ice_Coffee {
  background-color: #E47B57;
  margin: 0;
  height: 20vh;
  width: 60vw;
}
#Expresso {
  background-color: #9c3a52;
  margin: 0;
  height: 20vh;
  width: 60vw;
}
#Custom {
  background-color: #512f56;
  margin: 0;
  height: 20vh;
  width: 60vw;
}
